<div class="col-md-12">
  <div class="group">

     <span class="pull-right">
     <% if current_user && current_user.is_member_of?(@group) %>
      <label class="label label-success pull-right"> 群组成员 </label>
      <%= link_to "退出群组", quit_group_path(@group), method: :post, class: "btn btn-warning" %>
     <% else %>
       <label class="label label-default pull-right"> 路过游客 </label>
       <%= link_to "加入群组", join_group_path(@group), method: :post, class: "btn btn-info" %>
     <% end %>
   </span>

      <%= link_to "New Post", new_group_post_path(@group), class: "btn btn-primary pull-right" %>

  </div>

  <tr>
    <td> <%= @group.title %> </td>
    <br>
    <td><%= @group.description %></td>
  </tr>

    <hr>

   <table class="table table-hover">
      <thead>
         <tr>
           <th> Content </th>
           <th> User </th>
           <th> Update-Time </th>
         </tr>
      </thead>

         <tbody>
            <% @posts.each do |post| %>
            <tr>
              <td><%= post.content %></td>
              <td><%= post.user.email %></td>
              <td><%= post.updated_at %></td>
            </tr>
            <% end %>
         </tbody>
   </table>

</div>
